body {
  background-color: rgb(77, 75, 75);
}

h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.container.shop {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.shop {
  position: relative;
  width: 190px;
  height: 165px;
  padding: 0px 20px 0px 20px;
  border-radius: 35px;
}
