body {
  background-color: rgb(77, 75, 75);
}

.shop {
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 25px;
  padding: 3px;
}

.containershop {
  position: absolute;
  bottom: 0;
}

.searchbar {
  position: relative;
  display: flex;
  border-radius: 12px;
  width: 650px;
  height: 30px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  border-color: transparent;
  margin: auto;
  top: 115px;
}

.shop:hover {
  border-radius: 35px;
}
